/* for main page index.html */
.jumbotron {
    background: url("http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg") no-repeat center center fixed;
}

.lead {
    color: white;
    -webkit-text-stroke: 1px black;
}

/* on index.html in jumbotron */
.h11 {
    color: white;
    -webkit-text-stroke: 1px black;
}

h1 {
    color: blue;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 1rem;
}

.background {
    background-image: url("https://img.pngio.com/soft-background-images-wallpaper-cave-soft-backgrounds-png-3840_2160.png"); 
    background-size: cover; 
}

.container {
    background: white;
    margin: 50px;
}

/* for all pictures on portfolio.html */
.picture {
    width: 350px;
    height: 350px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
}

/* for the picture on index.html to get text to wrap  */
.float-left {
    width: 250px;
    height: 250px;
    margin: 20px;
}

/* for spacing on the pictures in portfolio.html */
.col-lg-6 {
    padding: 15px;
}

p {
    padding: 0 20px 10px 20px;
}